@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

a {
  transition: 0.1s transform;
}

a.router-link-active,
a.router-link.exact-active {
  color: #ddd1ff;
  text-decoration: none;
  transform: scale(1.1);
}
